<h1>Pie#index</h1>
<p>Find me in app/views/pie/index.html.erb</p>

<%#= image_tag('agriblack.png', :class => "img_preview", :alt => "alttt") %>

<%= image_tag('agriblack.png', :class => 'btn btn-primary', :alt => 'alt-attribute')%>