<div class="container">

<h1>New Post</h1>
  <section id="portfolio" style="padding-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Diary</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
<%= render 'form' %>


</div>	